<div class="card-deck mb-3">
  <div class="card">
    <div class="card-header">Auth Integration API (FUSE) Status</div>
    <div class="card-body">
      <div class="card-text">
        <p>Is the auth-integration-api up?</p>
        <button class="btn btn-primary btn-lg" (click)="getAuthIntegration()" *ngIf="loadingIntegrationAPI" [@fadeInOut]>
          <fa-icon [icon]="circleIcon" class="mr-1" [spin]="true"></fa-icon>Fuse Integration API
        </button>
        <button class="btn btn-primary btn-lg" (click)="getAuthIntegration()" *ngIf="!loadingIntegrationAPI" [@fadeInOut]>
          <fa-icon [icon]="cogIcon" class="mr-1"></fa-icon>Fuse Integration API
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card-deck mb-3">
  <div class="card">
    <div class="card-header">Product Status</div>
    <div class="card-body">
      <div class="card-text">
        <p>Is the product-api up?</p>
        <p>ROLE: <b>CHECK_PRODUCT_STATUS</b></p>
        <button class="btn btn-lg btn-primary" (click)="getProduct()" *ngIf="loadingProductAPI" [@fadeInOut]>
          <fa-icon [icon]="circleIcon" class="mr-1" [spin]="true"></fa-icon>Product API
        </button>
        <button class="btn btn-lg btn-primary" (click)="getProduct()" *ngIf="!loadingProductAPI">
          <fa-icon [icon]="cogIcon" class="mr-1"></fa-icon>Product API
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Stock Status</div>
    <div class="card-body">
      <div class="card-text">
        <p>Is the stock-api up?</p>
        <p>ROLE: <b>CHECK_STOCK_STATUS</b></p>
        <button class="btn btn-lg btn-primary" (click)="getStock()" *ngIf="loadingStockAPI" [@fadeInOut]>
          <fa-icon [icon]="circleIcon" class="mr-1" [spin]="true"></fa-icon>Stock API
        </button>
        <button class="btn btn-lg btn-primary" (click)="getStock()" *ngIf="!loadingStockAPI">
          <fa-icon [icon]="cogIcon" class="mr-1"></fa-icon>Stock API
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Supplier Status</div>
    <div class="card-body">
      <div class="card-text">
        <p>Is the supplier-api up?</p>
        <p>ROLE: <b>CHECK_SUPPLIER_STATUS</b></p>
        <button class="btn btn-lg btn-primary" (click)="getSupplier()" *ngIf="loadingSupplierAPI" [@fadeInOut]>
          <fa-icon [icon]="circleIcon" class="mr-1" [spin]="true"></fa-icon>Supplier API
        </button>
        <button class="btn btn-lg btn-primary" (click)="getSupplier()" *ngIf="!loadingSupplierAPI">
          <fa-icon [icon]="cogIcon" class="mr-1"></fa-icon>Supplier API
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-header">HTTP Response</div>
    <div class="card-body">
      <div class="card-text">
        <pre>{{ status | json }}</pre>
      </div>
    </div>
  </div>
</div>
