auth-integration/target
product/target
stock/target
supplier/target
webapp/dist

target/
_camtasia

# Dependency directories
node_modules/
jspm_packages/

.DS_Store

# IntelliJ
*.iml
.idea/*.iml
.idea/*
!/maven-settings.xml
