.app-no-caret::after {
  display: none;
}

.app-pointer {
  cursor: pointer !important;
}

.app-underline:hover {
  text-decoration: underline;
}

.app-scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
